.collapse.navbar-collapse
	&:first-of-type
		.navbar-nav
			margin-right auto
			
	&:last-of-type
		.navbar-nav
			margin-left auto
			
.navbar-light 
	.navbar-nav 
		.nav-link
			color #2199e8
			
			&:hover
				color #1585cf
