mixin b-jumbotron()
	section.jumbotron.text-center 
		.container
			h1 Changing the World Through Design
			p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.
			div
				a.btn.btn-primary.btn-lg Learn more
				a.btn.btn-outline-primary.btn-lg Learn less